.left-header {
    display: flex;
    align-items: center;
}

.left-header img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.left-header ul {
    padding: 0 15px;
}

.edcn-section img {
    max-width: 50px;
    border-radius: 50%;
}